.bg-green {
  background-color: rgb(190, 255, 190); /* rgb(50, 144, 50) */
}
.texture {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, .025) 25%, transparent 0, transparent 50%, rgba(0, 0, 0, .025) 0, rgba(0, 0, 0, .025) 75%, transparent 0, transparent);
  background-size: 64px 64px;
}

